# Secrets documentation:
# https://validatedpatterns.io/learn/secrets-management-in-the-validated-patterns-framework/
#
# Schema:
# https://github.com/validatedpatterns/rhvp.cluster_utils/tree/main/roles/vault_utils#values-secret-file-format
version: "2.0"

secrets: []
