# Secrets documentation:
# https://validatedpatterns.io/learn/secrets-management-in-the-validated-patterns-framework/
#
# Schema:
# https://github.com/validatedpatterns/rhvp.cluster_utils/tree/main/roles/vault_utils#values-secret-file-format
version: "2.0"

bootstrap_secrets:

  # Inject any Secret needed for ESO to connect to a secure storage service such as Bitwarden, HashiCorp Vault.
  # Refer to backend documentation for the needed format and fields:
  # https://external-secrets.io/latest/
  #
  # Name must match ESO configuration in openstack-secrets application.
  - name: vault-approle-secret-id
    targetNamespaces:
      - openstack
    fields:
      - name: id
        path: ~/vault-approle-secret-id
        onMissingValue: error

  # When you don't have secure storage available, inject all OpenStack secrets
  # directly as bootstrap secrets. Each secret below maps to an ExternalSecret
  # defined in the openstack-secrets ArgoCD application.
  #
  # Refer to the RHOSO documentation for secrets details (name, format, etc).
  # https://docs.redhat.com/en/documentation/red_hat_openstack_services_on_openshift/18.0/html/deploying_red_hat_openstack_services_on_openshift/assembly_preparing-rhocp-for-rhoso#proc_providing-secure-access-to-the-RHOSO-services_preparing
  - name: baremetalset-password-secret
    targetNamespaces:
      - openstack
    fields:
      - name: NodeRootPassword
        value: CHANGEME_node_root_password
        onMissingValue: error

  - name: dataplane-ansible-ssh-private-key-secret
    targetNamespaces:
      - openstack
    fields:
      - name: ssh-privatekey
        path: ~/dataplane-ansible-ssh-privatekey
        onMissingValue: error
      - name: ssh-publickey
        path: ~/dataplane-ansible-ssh-publickey
        onMissingValue: error
      - name: authorized_keys
        path: ~/dataplane-ansible-ssh-publickey
        onMissingValue: error

  - name: libvirt-secret
    targetNamespaces:
      - openstack
    fields:
      - name: LibvirtPassword
        value: CHANGEME_libvirt_password
        onMissingValue: error

  - name: nova-migration-ssh-key
    targetNamespaces:
      - openstack
    fields:
      - name: ssh-privatekey
        path: ~/nova-migration-ssh-privatekey
        onMissingValue: error
      - name: ssh-publickey
        path: ~/nova-migration-ssh-publickey
        onMissingValue: error

  - name: osp-secret
    targetNamespaces:
      - openstack
    fields:
      - name: AdminPassword
        value: CHANGEME_admin_password
        onMissingValue: error
      - name: AodhDatabasePassword
        value: CHANGEME_aodh_db_password
        onMissingValue: error
      - name: AodhPassword
        value: CHANGEME_aodh_password
        onMissingValue: error
      - name: BarbicanDatabasePassword
        value: CHANGEME_barbican_db_password
        onMissingValue: error
      - name: BarbicanPassword
        value: CHANGEME_barbican_password
        onMissingValue: error
      ## And so on, for each services

secrets: []
